<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fintainium Payment">

<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="selenium.LoginTest"/>
      <class name="selenium.Billing"/>
       <class name="selenium.Accounting"/>
      
    
      <class name="selenium.Salestax"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
