<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fintainium Payment">

	<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<class name="selenium.LoginTest" />
			<class name="billing.Billing" />
			<class name="accounting.Accounting" />
			<class name="Bank.AddBank" />
			<class name="customers.Addcustomer" />
			<class name="users.Adduser" />
			<class name="vendors.Addvendor" />
			<class name="billing.Billing" />
			<class name="accountspayable.Billpayment" />
			<class name="accountspayable.CreateBill" />
			<class name="accountsrecievable.InvoicePayment" />
			<class name="items.Items" />
			<class name="selenium.LoginTest" />
			<class name="reports.Reports" />
			<class name="sales.Salestax" />
			<class name="accountsrecievable.CreateInvoice" />
            <class name="vendors.Rapidpay" />
			<class name="accountspayable.Uploadbills" />
			<class name="vccard.Virtualcard" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
